<div class="grid container bg-gradient-to-r from-violet-500 to-fuchsia-500">
  <div class="row justify-content-md-center">
    <div class="col">
      <button class="btn btn-primary">Primary</button>
    </div>
    <div class="col">
      <button class="btn btn-primary">Primary</button>
    </div>
    <div class="col">
      <button class="btn btn-primary">Primary</button>
    </div>
  </div>
  <div class="row">
    <div class="col">1 of 3</div>
    <div class="col">Variable width content</div>
    <div class="col col-lg-2">3 of 3</div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-warning">Warning</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-light">Light</button>
      <button type="button" class="btn btn-dark">Dark</button>

      <button type="button" class="btn btn-link">Link</button>
    </div>
  </div>
</div>

<div class="text-center mt-5">
  <button class="py-2 px-4 btn btn-primary">Button</button>
</div>
